<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>book store</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
</head>
<body>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="cart">cart</a></li>
  <li><a href="#logout">logout</a></li>
</ul>

   <h1>Store</h1>
</body>
</html>