{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/book1.png' %}">
            <div class="box-element product"></div>
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block;float: right">Rs.500</h4>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/book2.png' %}">
            <div class="box-element product"></div>
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block;float: right">Rs.599</h4>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/book3.png' %}">
            <div class="box-element product"></div>
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block;float: right">Rs.400</h4>
        </div>
    </div>
{% endblock content %}
